* {
    margin: 0;
    padding: 0;
    border: 0;
}

body  {
    background: url('../images/create.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

form {
    margin: 10% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;

    background-color: rgba(0, 0, 0, 0.7);
}

form label {
    color: #fff;
    font-size: 1.6em;
}

form input {
    border: 1px solid black;
    font-size: 0.7em;
    padding: 0.2em;
}

select {
    font-size: 0.7em;
}

button {
    font-size: 1.3em;
    padding: 0.5em 2em;
    background-color: #fff;
    border-radius: 10px;
    transition: .5s all;
    cursor: pointer;
}

form label, form input, select, button {
    font-family: "Roboto Light";
}