* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url('../images/shelf.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;

    display: flex;
    justify-content: center;

    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#result h1 {
    color: #fff;
    font-size: 3em;
}

tr {
    transition: .5s all;
    background: rgb(255, 255, 255);
}

tr:not(:first-child):hover {
    cursor: pointer;
    background: rgb(111, 191, 255);
}

#headers {
    background: rgb(53, 156, 243);
}

tr:nth-child(2n+1) {
    background: rgb(222, 222, 222);
}

th {
    font-size: 1.5em;
    user-select: none;
    padding: 0.5em 1.3em;
}

td {
    font-size: 1.25em;
    padding: 0.3em 1em;
}

table, td, th {
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
}